.DS_Store
.Trashes
.localized

build
.build
xcuserdata
DerivedData

*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xccheckout
*.xcuserstate
*.xcscmblueprint
*.moved-aside
*.hmap
*.o
*.hmap
*.ipa
*.dSYM.zip

timeline.xctimeline
playground.xcworkspace

.idea
*.iml

Pods
Carthage
Packages

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

.env
